html {
    font-size: 15px;
    background-color: #F3EEE7;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

nav {
    width: 180px;
    background-color: #E3DED1;
    border-right: 1px solid #5F5D4D;

    position: fixed;
    height: 100%;
}

.alert-box {

    background: #4F493F;
    color: snow;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;

}

section {
    padding-left: 190px;
}

li {
    margin: 10px;
    list-style: none;
/*    float: left;*/
}

h1 {
    margin: 10px;
    font-family: 'Nanum Myeongjo', serif;
}

a {
    text-decoration: none;
    color: black;
}

